<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chocolate House</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Chocolate House!</h1>
        <a href="{{ url_for('view_inventory') }}" class="button">View Ingredient Inventory</a>
        <a href="{{ url_for('view_suggestions') }}" class="button">View Customer Suggestions</a>
        <a href="{{ url_for('view_flavors') }}" class="button">View Seasonal Flavors</a>
    </div>
    
</body>
</html>

